header {
  background-color: #1A1A1A;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-bottom: 1px solid gray;
}
header img {
  width: 10rem;
}
header nav ul {
  display: flex;
  list-style-type: none;
}
header nav ul li {
  margin: 10px;
}
header nav ul li a {
  color: white;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
header nav ul li a:hover {
  color: red;
}
header nav ul li .enlace-empresa {
  color: red;
}
header nav ul li #ingles {
  color: violet;
}

.informacion {
  background-color: #F4FE80;
}
.informacion p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
}

main .informacion-principal {
  margin-top: 25px;
}
main .informacion-principal h1 {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2.5rem;
  text-align: center;
}
main .informacion-principal h1 span {
  color: yellow;
}
main .informacion-principal p {
  margin-top: 15px;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
}
main .informacion-principal .contenedor-boton {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}
main .informacion-principal .contenedor-boton a {
  text-decoration: none;
  background-color: yellow;
  padding: 15px;
  border-radius: 5px;
  color: #000000;
}
main .informacion-principal .conoce-mas {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .informacion-principal .conoce-mas img {
  width: 25px;
}
main .informacion-principal .conoce-mas a {
  margin-left: 5px;
  color: yellow;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1A1A1A;
}

.avatar {
  width: 100px;
  height: 100px;
}

.enlace {
  font-family: "Courier New";
  font-size: 20px;
  font-weight: bold;
}

h3, h4 {
  color: white;
  font-family: "Roboto", sans-serif;
  background-color: aqua;
}

.boton-uno {
  margin-top: 10px;
  display: block;
  background-color: yellow;
  color: brown;
  width: 150px;
  font-family: "Helvetica";
  transition: 2s;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.boton-uno:hover {
  background-color: black;
}

.boton-dos {
  margin-top: 25px;
  margin-left: 25px;
  display: block;
  background-color: green;
  color: white;
  width: 100px;
  font-family: "Monospace";
  transition: 1s;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.boton-dos:hover {
  background-color: black;
}

.boton-tres, .boton-cuatro {
  display: block;
  margin-top: 55px;
  margin-left: 100px;
  background-color: blue;
  color: yellow;
  width: 190px;
  font-family: "Arial";
  transition: 0.3s;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.boton-tres:hover, .boton-cuatro:hover {
  background-color: black;
}

/*# sourceMappingURL=style.css.map */
